.resultsImagesContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.resultsContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.seeMoreContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding-left: 10%;
  width: 90%;
  height: 55px;
  font-size: 8px;
}
.addToBucketlistButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  height: 30px;
  width: 40%;
  margin-right: auto;
  background-color: rgb(139, 223, 188);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: black;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  font-size: 10px;
}
.addToBucketlistButton:hover {
  cursor: pointer;
  background-color: lightblue;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
}
.addToBucketlistButton:active {
  background-color: rgb(40, 64, 72);
}
.clickToSeeImage {
  z-index: -1;
  border-radius: 15px;
  width: 95%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.clickToSeeImageInside {
  width: 90%;
  height: 90%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.clickToSeeImageInside:hover {
  cursor: pointer;
}
.clickToSeeImageInside img {
  width: 10%;
  opacity: 0.5;
}
.resultSubContainer {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/*------------------------icon buttons-----------------------*/
.buttonIcons {
  width: 17px;
  display: inline;
}

/*------------------dialog box-----------------*/
.modalMainContainer {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
}
.modalSucccessful {
  position: absolute;
  z-index: 1;
  width: 250px;
  height: 150px;
  background-color: white;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  text-align: center;
  padding: 1%;
  font-size: 12px;
  gap: 20%;
}
.closeButton {
  padding: 2%;
  background-color: rgb(139, 223, 188);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
.closeButton:hover {
  background-color: lightblue;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
}
.closeButton:active {
  background-color: rgb(40, 64, 72);
}
/*--------------------expandedSeemore-----------------*/
.expandedResultsContainer {
  top: 0%;
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 20;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.expandedResultsSubContainer {
  display: flex;
  align-items: end;
  justify-content: end;
  padding: 2%;
  height: 90vh;
  width: 80%;
  background-color: rgb(255, 255, 255);
}
.CloseButtonExpandedSection {
  justify-self: end;
  text-align: center;
  height: 40px;
  width: 100px;
  background-color: rgb(139, 223, 188);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
