.resultsImagesContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.resultsContainer{
    display:flex;
    flex-direction: column;
    gap:5px;
}
.seeMoreContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width:90%;
    height:30px;
}