.main {
  height: 650vh;
  position: relative;
  scroll-behavior: smooth;
}
.introductionImagesContainer {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.imageContainer img {
  width: 100%;
  animation: zoom 15s infinite;
}
.introcarouselContainer {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.536);
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18%;
}
.carouselImagesContainer {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
.carouselImagesContainer img {
  width: 23%;
  border-radius: 5px;
}
.carouselImagesContainer:hover {
  cursor: pointer;
}
.aboutUsContainer {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

.aboutUsContainer p:hover {
  cursor: pointer;
  color: rgb(0, 252, 147);
}

.introheader {
  transform: translateX(-10%);
  bottom: 25%;
  position: absolute;
  color: white;
  left: 5%;
  gap: 3%;
  display: flex;
  flex-direction: column;
  opacity: 0;
}
.introheader2 {
  transform: translateX(-10%);
  bottom: 25%;
  position: absolute;
  color: white;
  left: 5%;
  gap: 3%;
  display: flex;
  flex-direction: column;
  opacity: 0;
}
.introheader3 {
  transform: translateX(-10%);
  bottom: 25%;
  position: absolute;
  color: white;
  left: 5%;
  gap: 3%;
  display: flex;
  flex-direction: column;
  opacity: 0;
}
.introheader4 {
  transform: translateX(-10%);
  bottom: 25%;
  position: absolute;
  color: white;
  left: 5%;
  gap: 3%;
  display: flex;
  flex-direction: column;
  opacity: 0;
}
.secondheader {
  font-size: 45px;
}
.firstheader:before {
  content: " ";
  background-color: red;
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin-right: 5px;
}
.thirdheader {
  font-size: 25px;
}
.locationicon {
  display: inline-block;
  width: 4%;
  margin-right: 8px;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/*------------------------classlist adds------------------*/

.image2 {
  position: absolute;
  opacity: 0;
  animation: none;
}
.image3 {
  position: absolute;
  opacity: 0;
  animation: none;
}
.image4 {
  position: absolute;
  opacity: 0;
  animation: none;
}
.image1Display {
  opacity: 1;
  animation: zoom 10s ease;
}

.image2Display {
  opacity: 1;
  animation: zoom 10s ease;
}
.image3Display {
  opacity: 1;
  animation: zoom 10s ease;
}

.image4Display {
  opacity: 1;
  animation: zoom 10s ease;
}

.header1Display {
  transition: 1s ease;
  transform: translateX(0%);
  opacity: 1;
}
.header2Display {
  transition: 1s ease;
  transform: translateX(0%);
  opacity: 1;
}
.header3Display {
  transition: 1s ease;
  transform: translateX(0%);
  opacity: 1;
}
.header4Display {
  transition: 1s ease;
  transform: translateX(0%);
  opacity: 1;
}
/*-------------------------content---------------*/
.contentContainer {
  position: relative;
}
.headerContainer:before {
  left: 5%;
  content: "";
  background-color: rgb(94, 207, 173);
  border-radius: 0px 5px 5px 0px;
  height: 10px;
  width: 90%;
  position: absolute;
  top: 0%;
}
.headerContainer {
  margin-top: 5%;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  padding: 2%;
}
.regionsOfJapanContainer {
  position: absolute;
  left: 5%;
  margin-top: 1%;
  width: 30%;
  height: 13vh;
  background-color: rgba(94, 207, 173, 0.756);
  border-radius: 0px 17px 17px 17px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-10%);
  transition: 3s ease;
  opacity: 0;
}

.regionsOfJapanContainerShow {
  transform: translateX(0%);
  opacity: 1;
}

.travelContainer {
  margin-top: 10vh;
  margin-left: 5%;
  height: 20vh;
}
.travelContainer p:nth-child(1) {
  font-size: 35px;
}
.travelContainer p:nth-child(2) {
  margin-top: 5vh;
  font-size: 15px;
}
.recommendedcontainer {
  margin-top: 10vh;
  width: 95%;
  height: 145vh;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
}
.recommendedRow {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rowImageContainer {
  position: relative;
  width: 45%;
  height: 95%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  transition: 2s ease;
}
.rowImageContainer img {
  height: 100%;
  border-radius: 10px;
  transition: 1s ease;
}
.rowImageContainer img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.columnImage {
  position: relative;
  height: 46%;
  width: 95%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.columnImage img {
  width: 100%;
  transition: 1s ease;
}
.columnImage img:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.column1 {
  overflow: hidden;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2%;
  transition: 1s ease 0.5s;
  opacity: 0;
}
.column2 {
  overflow: hidden;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2%;
  transition: 1s ease 1s;
  opacity: 0;
}
.placeName {
  font-size: 20px;
  position: absolute;
  bottom: 15%;
  color: white;
}
.placeLocation {
  font-size: 20px;
  position: absolute;
  bottom: 1%;
  color: white;
}
/*------------------------show display--------------*/
.show1Display {
  opacity: 1;
}
.show2Display {
  opacity: 1;
}
.show3Display {
  opacity: 1;
}
.show4Display {
  opacity: 1;
}
.show5Display {
  opacity: 1;
}
.show6Display {
  opacity: 1;
}
.discoverPageButton {
  border: solid 2px white;
  height: 10vh;
  width: 15vw;
  background-color: transparent;
  position: absolute;
  color: white;
  font-size: 20px;
  right: 5%;
  bottom: 20%;
  border-radius: 13px;
  background-color: rgba(255, 255, 255, 0.307);
}
